*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
    
    header{
    height: 90px;
    background-color: rgb(255, 255, 255);
    
}
#logo{
    height: 42px;
    width: 42px;
    
}
#logotext{
    font-size: 34px;
    color: rgb(0, 0, 0);
    font-style: italic;
}
.logowrapper{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.4rem;
}
#navlist{
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
}
#navlist a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 18px;
 font-style: inherit;

}
  .header1 > .container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
      margin-left: auto;
      margin-right: auto;
    height: 50%;
}

#section1logo{
      width: 100;
      height: 100%;
}
.section1 > .container{
      display: grid;
      grid-template-columns: 1fr 1fr;
     gap:6px;
     width: 1100px;
     margin-right:auto;
     margin-left: auto;
}
 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
     gap: 24px;
     padding-bottom: 54px;
    
}
.content h1{
    font-size: 38px;
}
#mainlink{
    background-color: black;
     color: white;
     text-decoration: none;
     border-style: double;
     padding: 0.5rem;
     border-radius:16px;
     
}

